.subtitulo{
    margin-top: 200px;
    margin-left: 100px;
    border-bottom: 1px solid #f2f2f2; 
    margin-bottom: 100px;
    padding-bottom: 35px;
}

.tablita{
    border-bottom: 1px solid #000000; 
    border-top: 1px solid #000000;
    border-collapse: separate;
}  
td{
    padding: 10px;
}
tr{
    padding: 30px;
    border-bottom: 1px solid #000000;
}

#rectangulotipos{
    text-align: left;
}

.grupo-img {
  display: none;
}

.grupo-img.visible {
  display: flex;
  gap: 10px;
}

#grupitos img {
  width: 200px;
  height: auto;
}
